.handsontable .htDimmed {
  /* color: yellow; */
  /* background: blue; */
  /* font-weight: bold; */
  color: #363636
}

.ht_master tr td {
  font-size: 9pt;
}

.handsontable .nowrap {
  white-space: nowrap;
}

.handsontable .headerRow {
  font-weight: bold;
  font-size: 8pt;
  vertical-align: middle;
}

.handsontable .totalRow {
  font-weight: bold;
  font-size: 9pt;
  vertical-align: middle;
}

.handsontable .greyHighlight {
  background: #EEEEEE
}

.handsontable .remarks {
  text-overflow: ellipsis;
  overflow: hidden;
}

.handsontable .select {
  background: #e0eaf9 !important;
}

.handsontable .edited {
  background: #f8e681 !important;
}

.handsontable .derived {
  background: #e8ffd4 !important;
}

/** Bootstrap Tooltip Style **/

/* Change the final opacity to 1 */

.tooltip.in {
  opacity: 1!important;
}

/* Set up the tooltip's inner style */

.tooltip-inner {
  display: inline-block;
  position: relative;
  text-align: left;
  color: #333;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 2px 3px);
}